html,
body {
  width: 800px;
  height: 600px;
}

button {
  border: none;
  width: 100%;
  margin: 3% auto;
  padding: 4px;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
  background-color: #e5f2f2;
}

button:hover {
  background-color: #cff2f2;
}

input {
    border: 3px;
    width: 100%;
}

input[type="text"] {
    width: 100%;
    padding: 12px 20px;
    background-color: #e5f2f2;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 16px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}